@model TaskManagerApp.WebUi.Models.TaskListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.User.Username</h1>

</div>
<br />
<br />
<div>

    <a class="btn btn-success" asp-controller="home" asp-action="create">New Task</a>
    <a class="btn btn-danger" asp-controller="account" asp-action="logout">Logout</a>
    <br />
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
        </div>
    }
    <br />

    <table class="table table-hover table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Completed</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Tasks.Count; i++)
            {
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@Model.Tasks[i].Status</td>
                    <td align="center"><input class="form-check-input" type="checkbox" checked="@Model.Tasks[i].IsCompleted" onclick="return false"></td>
                    <td>@Model.Tasks[i].StartingDate.ToShortDateString()</td>
                    <td>@Model.Tasks[i].Title</td>
                    <td>@Model.Tasks[i].Type.Description</td>
                    <td>
                        <a type="button" class="btn btn-secondary" asp-controller="task" asp-action="details" asp-route-id="@Model.Tasks[i].Id">

                            Show
                        </a>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-warning" asp-controller="home" asp-action="update" asp-route-id="@Model.Tasks[i].Id">Update</a>
                            <a type="button" class="btn btn-danger" asp-controller="home" asp-action="delete" asp-route-id="@Model.Tasks[i].Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


